<!DOCTYPE html>
<html lang="en">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/mainpage.css') }}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bird Race Game</title>
</head>
<body>
    <form method="POST" action="/">
        <center>
        
        <img src="{{url_for('static', filename='box.jpg')}}" align="middle" alt="Board game box art"><br><br>

        <input type = "submit" name="phone" value="Make a phone call"> <br><br>
        <input type = "submit" name="travel" value="Take a travel card"><br><br>
        <input type = "submit" name="habitat" value="Visit habitat"><br>
        
        </center>
    </form>
</body>
</html>