/* Applies to the entire body of the HTML document (except where overridden by more specific
selectors). */
body {
    margin: 25px;
    background-color: rgb(240,240,240);
    font-family: 'Roberto', sans-serif;
    font-size: 14px;
  }
  
  /* Applies to all <h1>...</h1> elements. */
  h1 {
    font-size: 35px;
    font-weight: normal;
    margin-top: 5px;
  }

  .button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  
  

    input[type=submit] {
        padding:5px 15px; 
        background:rgb(166, 205, 88); 
        border:0 none;
        cursor:pointer;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        font-size: 24px; 
    }

    input[type=text]:hover {
        background-color: yellow;
    }

  /* Applies to all elements with <... class="someclass"> specified. */
  .someclass { color: red; }
  
  /* Applies to the element with <... id="someid"> specified. */
  #someid { color: green; }

  
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type="submit"] {
  /* Your existing button styles */
  margin-bottom: 10px; /* Add spacing between buttons */
}


.card-text {
  font-size: 24px; /* Adjust font size as needed */
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin-bottom: 20px;
}

